@import url(https://i.icomoon.io/public/8597f7fd9f/scheduler/style.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700|Montserrat:700,400);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 62.5%;
  list-style: none outside none;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }
  @media screen and (max-width: 680px) {
    html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, a, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
      font-size: 57.5%; } }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after {
  clear: both;
  content: "";
  display: table; }

html, body {
  margin: 0;
  padding: 0; }

body {
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  width: 100%; }

.header {
  height: 65px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 500; }

.content {
  min-height: calc(100vh - 70px);
  overflow: auto;
  position: absolute;
  top: 100px;
  width: 100vw;
  z-index: 100; }

li, a, p, h1, h2, h3, h4, h5, h6, label, input, .button, input[type="button"], input[type="submit"], th, td, span {
  list-style: none outside none;
  text-decoration: none;
  font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Roboto Condensed", "Helvetica Neue", Arial, sans-serif; }

input, .button, input[type="button"], input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid #323232;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 40px;
  height: 40px;
  outline: none;
  padding: 0 10px;
  width: 100%; }
  input::-webkit-input-placeholder, .button::-webkit-input-placeholder, input[type="button"]::-webkit-input-placeholder, input[type="submit"]::-webkit-input-placeholder {
    font-weight: 300; }
    input::-webkit-input-placeholder:first-letter, .button::-webkit-input-placeholder:first-letter, input[type="button"]::-webkit-input-placeholder:first-letter, input[type="submit"]::-webkit-input-placeholder:first-letter {
      text-transform: capitalize; }
  input::-moz-placeholder, .button::-moz-placeholder, input[type="button"]::-moz-placeholder, input[type="submit"]::-moz-placeholder {
    font-weight: 300; }
    input::-moz-placeholder:first-letter, .button::-moz-placeholder:first-letter, input[type="button"]::-moz-placeholder:first-letter, input[type="submit"]::-moz-placeholder:first-letter {
      text-transform: capitalize; }
  input:-ms-input-placeholder, .button:-ms-input-placeholder {
    font-weight: 300; }
    input:-ms-input-placeholder:first-letter, .button:-ms-input-placeholder:first-letter {
      text-transform: capitalize; }
  input:-moz-placeholder, .button:-moz-placeholder {
    font-weight: 300; }
    input:-moz-placeholder:first-letter, .button:-moz-placeholder:first-letter {
      text-transform: capitalize; }
  input:focus, .button:focus {
    border-color: #206eb7; }

body input[type="checkbox"], body [type="checkbox"].button, body .field-checkbox {
  margin: 0 3px 10px 0px;
  padding-left: 0;
  vertical-align: middle;
  width: auto; }
  body input[type="checkbox"] input, body [type="checkbox"].button input, body input[type="checkbox"] .button, body [type="checkbox"].button .button, body .field-checkbox input, body .field-checkbox .button {
    margin-bottom: 0; }
  body input[type="checkbox"] .field-checkbox-label, body [type="checkbox"].button .field-checkbox-label, body .field-checkbox .field-checkbox-label {
    display: inline-block;
    font-size: 15px;
    padding-top: 0; }

textarea {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 20px;
  min-height: 75px;
  outline: none;
  padding: 10px;
  width: 100%; }
  textarea:focus {
    border-color: #206eb7; }

select {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background: white;
  border: 1px solid #323232;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  outline: none;
  padding: 10px;
  width: 100%; }
  select:focus {
    border-color: #206eb7; }

label {
  color: #1d1d1d;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 30px;
  padding-right: 15px;
  text-align: left;
  text-transform: capitalize; }

.button, input[type="button"], [type="button"].button, input[type="submit"], [type="submit"].button {
  background-image: linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -o-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -ms-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -moz-linear-gradient("top, $accent, darken($accent, 5%)");
  background-image: -webkit-linear-gradient("top, $accent, darken($accent, 5%)");
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #1c61a1;
  border: 1px solid #18548c;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  min-width: 100px;
  padding: 0 30px 0 20px;
  width: auto; }
  .button [class^="icon-"], .button [class*=" icon-"], .button [class^="path"], .button [class*=" path"], input[type="button"] [class^="icon-"], [type="button"].button [class^="icon-"], input[type="button"] [class*=" icon-"], [type="button"].button [class*=" icon-"], input[type="button"] [class^="path"], [type="button"].button [class^="path"], input[type="button"] [class*=" path"], [type="button"].button [class*=" path"], input[type="submit"] [class^="icon-"], [type="submit"].button [class^="icon-"], input[type="submit"] [class*=" icon-"], [type="submit"].button [class*=" icon-"], input[type="submit"] [class^="path"], [type="submit"].button [class^="path"], input[type="submit"] [class*=" path"], [type="submit"].button [class*=" path"] {
    font-size: 16px;
    padding-right: 5px;
    vertical-align: middle; }
  .button:hover, input[type="button"]:hover, [type="button"].button:hover, input[type="submit"]:hover, [type="submit"].button:hover {
    background-color: #18548c;
    border: 1px solid #154776;
    color: #fff;
    cursor: pointer; }

@media screen and (max-width: 680px) {
  .form-section .form-section-description, .form-section .form-section-field {
    padding-left: 0;
    width: 100%; }
  .form-section .form-section-actions {
    padding-top: 15px; } }
.header {
  background: #206eb7;
  border-bottom: 1px solid #1c61a1;
  display: block; }
  .header .main-nav, .header .account-nav {
    display: inline-block; }
    .header .main-nav .nav-tab, .header .account-nav .nav-tab {
      box-shadow: inset -1px 0 0 #2f88db;
      -moz-box-shadow: inset -1px 0 0 #2f88db;
      -webkit-box-shadow: inset -1px 0 0 #2f88db;
      border-right: 1px solid #18548c;
      clear: none;
      float: left;
      height: 65px;
      margin: 0;
      padding: 12px 10px 10px;
      position: relative;
      width: auto; }
      .header .main-nav .nav-tab.logo, .header .account-nav .nav-tab.logo {
        padding-left: 66px; }
      .header .main-nav .nav-tab .tab-icon, .header .main-nav .nav-tab .tab-logo, .header .account-nav .nav-tab .tab-icon, .header .account-nav .nav-tab .tab-logo {
        text-shadow: 1px 1px #18548c;
        -moz-text-shadow: 1px 1px #18548c;
        -webkit-text-shadow: 1px 1px #18548c;
        color: white;
        font-size: 12px;
        float: left;
        line-height: 1.1rem;
        top: 10px;
        vertical-align: middle;
        width: 17px; }
      .header .main-nav .nav-tab .tab-logo, .header .account-nav .nav-tab .tab-logo {
        height: 41px;
        left: 10px;
        position: absolute;
        top: 12px;
        width: auto; }
      .header .main-nav .nav-tab .tab-name, .header .account-nav .nav-tab .tab-name {
        text-shadow: 1px 1px #18548c;
        -moz-text-shadow: 1px 1px #18548c;
        -webkit-text-shadow: 1px 1px #18548c;
        color: white;
        float: left;
        font-size: 1.2rem;
        font-weight: 200;
        letter-spacing: 0.05rem;
        line-height: 1.1rem;
        text-transform: uppercase; }
      .header .main-nav .nav-tab .tab-links, .header .account-nav .nav-tab .tab-links {
        float: left;
        clear: left;
        margin-top: 13px; }
        .header .main-nav .nav-tab .tab-links .tab-link, .header .account-nav .nav-tab .tab-links .tab-link {
          border-radius: 2px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          background-clip: padding-box;
          -moz-background-clip: padding-box;
          -webkit-background-clip: padding-box;
          text-shadow: 1px 1px #18548c;
          -moz-text-shadow: 1px 1px #18548c;
          -webkit-text-shadow: 1px 1px #18548c;
          background: #18548c;
          color: #b2d3f1;
          font-size: 1.2rem;
          font-weight: 100;
          margin-right: 5px;
          padding: 5px 7px; }
          .header .main-nav .nav-tab .tab-links .tab-link:last-child, .header .account-nav .nav-tab .tab-links .tab-link:last-child {
            margin-right: 0; }
          .header .main-nav .nav-tab .tab-links .tab-link:hover, .header .main-nav .nav-tab .tab-links .tab-link.active, .header .account-nav .nav-tab .tab-links .tab-link:hover, .header .account-nav .nav-tab .tab-links .tab-link.active {
            background: #154776;
            color: white; }
      .header .main-nav .nav-tab .tab-dropdown, .header .account-nav .nav-tab .tab-dropdown {
        background: white;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        display: none;
        right: 0;
        position: absolute;
        top: 100%;
        width: 150px; }
        .header .main-nav .nav-tab .tab-dropdown .tab-dropdown-item, .header .account-nav .nav-tab .tab-dropdown .tab-dropdown-item {
          border-bottom: 1px solid #e5e5e5;
          display: block;
          width: 100%; }
          .header .main-nav .nav-tab .tab-dropdown .tab-dropdown-item a, .header .account-nav .nav-tab .tab-dropdown .tab-dropdown-item a {
            color: #757575;
            display: block;
            font-size: 1.4rem;
            padding: 12px 15px; }
            .header .main-nav .nav-tab .tab-dropdown .tab-dropdown-item a:hover, .header .account-nav .nav-tab .tab-dropdown .tab-dropdown-item a:hover {
              background: #F5F5F5; }
      .header .main-nav .nav-tab:hover, .header .main-nav .nav-tab.active, .header .account-nav .nav-tab:hover, .header .account-nav .nav-tab.active {
        box-shadow: inset -1px 0 0 #2f88db;
        -moz-box-shadow: inset -1px 0 0 #2f88db;
        -webkit-box-shadow: inset -1px 0 0 #2f88db;
        background: #247bcd;
        border-right-color: #154776;
        cursor: pointer; }
        .header .main-nav .nav-tab:hover .tab-dropdown, .header .main-nav .nav-tab.active .tab-dropdown, .header .account-nav .nav-tab:hover .tab-dropdown, .header .account-nav .nav-tab.active .tab-dropdown {
          display: inline-block; }
  .header .account-nav {
    float: right; }
    .header .account-nav .nav-tab {
      box-shadow: inset 1px 0 1px #18548c;
      -moz-box-shadow: inset 1px 0 1px #18548c;
      -webkit-box-shadow: inset 1px 0 1px #18548c;
      border-left: 1px solid #2f88db;
      border-right: 0;
      padding: 14px 35px 12px 15px; }
      .header .account-nav .nav-tab .tab-meta {
        text-shadow: 1px 1px #18548c;
        -moz-text-shadow: 1px 1px #18548c;
        -webkit-text-shadow: 1px 1px #18548c;
        color: white;
        clear: left;
        float: left;
        font-size: 1.3rem;
        font-weight: 200;
        margin-top: 10px; }
      .header .account-nav .nav-tab .icon-down {
        color: white;
        font-size: 1.3rem;
        line-height: 15px;
        position: absolute;
        right: 10px;
        top: 25px; }

/*# sourceMappingURL=main.css.map */
